
@{
    ViewBag.Title = "_BireyselAracGuncelle";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
}

<div class="container">
    <form>
        <h4>Genel Bilgiler</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="uyeAdSoyad" class="form-label">Üye Ad Soyad</label>
                <input type="text" class="form-control" id="uyeAdSoyad">
            </div>
            <div class="col">
                <label for="status" class="form-label">Statü</label>
                <select class="form-select" id="statu">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="onDegerlendirmeFiyati" class="form-label">Ön Değerlendirme Fiyatı</label>
                <input type="text" class="form-control" id="onDegerlendirmeFiyati">
            </div>
            <div class="col">
                <label for="teklifFiyati" class="form-label">Teklif Fiyatı</label>
                <input type="text" class="form-control" id="teklifFiyati">
            </div>
        </div>
    </form>
    <br />
    <form>
        <h4>Araç Detay Bilgileri</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="arac-markasi" class="form-label">Araç Markası</label>
                <select class="form-select" id="aracmarkasi">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="arac-modeli" class="form-label">Araç Modeli</label>
                <select class="form-select" id="aracmodeli">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="govde-tipi" class="form-label">Gövde Tipi</label>
                <select class="form-select" id="govdetipi">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="yil" class="form-label">Yıl</label>
                <select class="form-select" id="yil">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="yakit-tipi" class="form-label">Yakıt Tipi</label>
                <select class="form-select" id="yakittipi">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="vites-tipi" class="form-label">Vites Tipi</label>
                <select class="form-select" id="vitestipi">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="versiyon" class="form-label">Versiyon</label>
                <select class="form-select" id="versiyon">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="km-bilgisi" class="form-label">KM Bilgisi</label>
                <input type="text" class="form-control" id="kmbilgisi">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="renk" class="form-label">Renk</label>
                <select class="form-select" id="renk">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
            <div class="col">
                <label for="donanim" class="form-label">Donanım</label>
                <select class="form-select" id="donanim">
                    <option selected>Seçiniz...</option>
                </select>
            </div>
        </div>
    </form>
    <br />
    <form>
        <h4>Foto Ekle</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="gorseller" class="form-label">Görseller</label>
                <input type="file" class="form-control" id="gorseller" multiple>
            </div>
        </div>

    </form>
    <div class="mb-3">
        <label for="aciklama" class="form-label">Açıklama</label>
        <textarea class="form-control" id="aciklama" rows="3"></textarea>
    </div>
    <br />
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-warning me-2">Araç Tarihçe</button>
        <a href="@Url.Action("_TramerBilgileri")" type="button" class="btn btn-outline-success me-2">
            Hasar Tramer Bilgileri
        </a>
        <button type="button" class="btn btn-outline-primary">Kaydet</button>
    </div>
</div>

