
@{
    ViewBag.Title = "_İhaleyeCikanAraclar";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
}

<div class="container">
    <h4>İhalede Kalma Süreleri</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Araç ID</th>
                <th scope="col">Araç Adı</th>
                <th scope="col">İhale Başlangıç Tarihi</th>
                <th scope="col">İhale Satış Tarihi</th>
                <th scope="col">İhalede Kalma Süresi</th>
            </tr>
        </thead>
        <tbody>
            <!-- Örnek satır -->
            <tr>
                <td>1</td>
                <td>Araç 1</td>
                <td>01/04/2023</td>
                <td>05/04/2023</td>
                <td>4 gün</td>
            </tr>
            <!-- Diğer satırlar burada listelenecek -->
        </tbody>
    </table>
    <br />
    <h4 class="mt-4">Favorilere Eklenme Göstergesi</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Araç ID</th>
                <th scope="col">Araç Adı</th>
                <th scope="col">Favorilere Eklendiği Tarih</th>
            </tr>
        </thead>
        <tbody>
            <!-- Örnek satır -->
            <tr>
                <td>1</td>
                <td>Araç 1</td>
                <td>02/04/2023</td>
            </tr>
            <!-- Diğer satırlar burada listelenecek -->
        </tbody>
    </table>
</div>

