
@{
    ViewBag.Title = "_OrtaZorlukRapor";
    Layout = "~/Views/Shared/_LayoutPageForAdmins.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="my-4">Orta Zorluk Rapor</h4>
            <ul class="list-group">
                <li class="list-group-item"><a href="#">Araç Satış Cirosu</a></li>
                <li class="list-group-item"><a href="#">Araç Başı Karlılık</a></li>
                <li class="list-group-item"><a href="#">Stok Adeti ve Maliyeti</a></li>
                <li class="list-group-item"><a href="#">2.El Teklif Verilen Araç Sayısı ve Marka Model</a></li>
                <li class="list-group-item"><a href="#">2.El Araç Ekspertiz Yapılan Araç Sayısı</a></li>
                <li class="list-group-item"><a href="#">2.El Alım Adeti</a></li>
            </ul>
        </div>
    </div>
</div>

